article
  div.post-title=post.title
    span.post-modified=post.modified.toLocaleDateString()
  div.post-body!= post.body
  div.post-author!=post.author
  -if(user)
    a(href='/edit/'+post._id) Edit

