!!!5
html
  head
    title #{title}
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js')
    script(type='text/javascript', src='/static/js/underscore-min.js')
    script(type='text/javascript', src='/static/js/backbone.js')
    script(type='text/javascript', src='/static/js/backbone-localstorage.js')
    script(type='text/javascript', src='/static/js/client.js')
    
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')

  body!=body


