#post-list{
    margin-left:auto;
    margin-right:auto;
    width:70%;    
}

article{
    padding-top: 1%;
    position:relative;
}
.post-title{
    font-size: xx-large;
}

.post-modified{
    font-size:small;
    padding-left:5px;
}

.post-body{
    font-size: medium;
   
}

form *{

    display:block;
    padding-top:10px;

}

form textarea{

    width:600px;
    height:400px;

}
